ftr
p5384_mechdat.csv
p5483WGFracNSPPosc
p5483WGFracNSPPosc_broken
p5483WGFracNSPPosc_part2
p5483WGFracNSPPosc_part2l
p5483WGFracNSPPoscl
p5483_test_correctl
sample.ftr
.DS_Store
.vscode/
p5384_mechdat_reduced.zip
p5289_temp/
mat_ac_analysis/
mechData/p5483_mechdat.csv
mechData/p5483_mechdat_reduced.csv
mechData/p5483_mechdat_reduced.npz
py_ac_analysis/Results_analysis/*.npz
